/* === GENERAL STRUCTURE === */

DIV.body-area {
    margin-left: 50px;
}

.outerScroller {
    margin-top: 62px;
    width: 1200px;
    height: 705px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
}

/* Public Notices */
.court-detail .outerScroller {
    height: 260px;
}

.scrollArea {
    position: relative;
}

/* === TABLE STYLES === */

TABLE.results,
TABLE.non-scrolling-results,
TABLE.case-progress {
    width: 1200px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: #F4F4A0;
    visibility: hidden; /* Initially hidden for transition */
}

TABLE.results-header {
    width: 1200px;
    table-layout: fixed;
    border-collapse: collapse;
}

TABLE.results TD,
TABLE.non-scrolling-results TD,
TABLE.case-progress TD {
    font-size: 14pt;
    font-weight: bold;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    position: relative;
}

/* === ROW COLORING === */

.oddRow {
    background-color: #F4F4A0;
}

.evenRow {
    background-color: #FBFAC0;
}

/* === HEADER ROWS === */

.results-header-div {
    position: relative;
    width: 1200px;
    height: 56px;
    border: 1px solid black;
    overflow: hidden;
}

TR.column-headers TD,
TABLE.case-progress TD.case-progress-time {
    font-size: 15pt;
    font-weight: bold;
    vertical-align: middle;
    color: #FAFAD2;
    background-color: #112244;
    height: 60px;
    border: 1px solid black;
    padding-left: 10px;
}

/* === PAGE STRUCTURE === */

DIV.inter-table-padding {
    margin-top: 30pt;
    width: 100%;
}

/* === PUBLIC NOTICES === */

TABLE.results TD.public-notice {
    font-size: 20pt;
    word-break: keep-all;
}

/* === CASE PROGRESS VIEW === */

TABLE.case-progress TD.case-progress-time,
TABLE.case-progress TD.case-progress-status {
    width: 50%;
    font-size: 25px;
    padding-left: 25px;
}

TABLE.case-progress TD.case-progress-status {
    background-color: #F4F4A0;
}

/* === DEFENDANT ROWS === */

TABLE.results TD.scrolling-defendant-name {
    text-align: center;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

TABLE.results TD.defendant-name,
TABLE.results TD.case-title,
TABLE.results TD.defendant-and-case-number,
TABLE.results TD.defendant-names {
    text-align: left;
    padding-left: 5%;
    font-weight: bolder;
}

TABLE.results TD.no-information-row {
    color: ThreedDarkShadow;
}

/* === OTHER ELEMENTS === */

.reporting-restrictions {
    color: red;
    font-size: 25pt;
    left: 100px;
    top: 960px;
    width: 1200px;
    position: absolute;
    background-color: transparent;
}

.moved-highlight {
    font-size: 20px;
    font-weight: bold;
    color: #0000FF;
}

SPAN.asterix,
.asterix {
    color: red;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

/* === DEFENDANT DISPLAY / SCROLLING === */

.defendant-scrolling-area,
.defendant-display-area {
    width: 450px;
    height: 80px;
    position: absolute;
    background-color: transparent;
    z-index: 9000;
    padding-left: 0;
    margin-left: 0;
}

.defendant-place-holder {
    width: 450px;
    height: 80px;
    position: relative;
    background-color: transparent;
}

.defendant-names,
.case-title {
    width: 450px;
}

TABLE.defendant-names TD {
    border: none;
}

/* === NAVIGATION === */

TABLE.navbar,
TR.navbar {
    height: 20px;
    margin-top: 2px;
    font-size: 8pt;
    color: #ffffff;
    background-color: #003366;
}
